@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Poppins&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;

}
.row {
    z-index: 1000;
}
.card{
    background-color: transparent;
    overflow: hidden;
    border: 2px solid rgb(77, 0, 32);
    box-shadow: 0 0 25px rgb(117, 21, 61);
    margin-top: 3%;
    display: flex;
    justify-content: center;

}
.side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-body{
    left: 0%;
    text-align: right;
    width: 190%;
    padding: 0px 150px 60px 50px;
    background-image: url(https://w0.peakpx.com/wallpaper/595/185/HD-wallpaper-amoled-space-amoled-amoled-black-galaxy-s8-galaxy-s9-retro-super-amoled.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: -40%;
    background-position-y: 60%;
}
.card-body>h1{
    margin-top: 170%;
    margin-bottom: -20%;
    font-weight: 800 !important;
}
.card-body>p{
    margin-top: 20%;
    margin-bottom: -20%;
}
.register{
    left: 10%;
    right: -110%;
    padding: 30px 20px 15px 30px;
    line-height: 1;
    
}
.register h1{
    font-size: 45px;
    font-weight: 800;
   color:rgb(153, 2, 65);
   padding-left: 8%;
   line-height: 0.5;
   text-transform: uppercase;
   margin-bottom: -1%;
}



h1{
   font-size: 45px;
   font-weight: 700;
   color: rgb(153, 2, 65);
   line-height: 1.3;
   text-transform: uppercase;
   z-index: 15000;
}
.form-label{
    color: #fff;
}
p{
    color: #fff;
}
.form-control{
    color: #fff;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 0%;
    border-bottom: 2px solid rgb(77, 0, 32);
}
.input-box{
    position: relative;
    width: 100%;
    height: 45px;
    margin: 20px 0;
    color: white;
}
.input-box  input {
    color: white;
    font-weight: 500;
    font-size: 16px;
    width: 70%;
    height: 90%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(77, 0, 32);
}
  
.input-box label{
   position: absolute;
   top: 50%;
   left: 2%;
   transform: translateY(-60%);
   font-size: 17px;
   pointer-events: none;
   transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: 2px;
    color:  rgb(107, 1, 45);
    font-size: 15px;
    font-weight: 500;
}
.input-box i{
  position: absolute;
  top: 35%;
    right: 32%;
    font-size: 16px;
    color: #fff ;
    transition: .5s;
}
.input-box input:focus~i,
.input-box input:valid~i{
    color:  rgb(107, 1, 45);
}
.buttons{
  position: relative;
  width: 50%;
  height: 45px;
  left: 10%;
  right: 200%;
  background: transparent;
  border: 2px solid rgb(107, 1, 45);
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.buttons::before{
    position: absolute;
    content: '';
    top: -100%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 300%;
    background: linear-gradient(#041018,rgb(153, 2, 65),#081b29,rgb(107, 1, 45));
    z-index: -1;
    transition: .5s;
}
.buttons:hover:before{
    top: 0;
    color: #fff;
}
.buttons>button{
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-left: 26%;
    
}
.social>a{
    padding: 15px;
    position: relative;
    border: 2px solid #000000;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(rgb(153, 2, 65),#081b29);
}
.social>a:hover{
    border: 2px solid rgb(107, 1, 45);
    outline: none;
    background: linear-gradient(#081b29,rgb(153, 2, 65));
}
.Log-in>a{
    color: rgb(107, 1, 45);
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}
.Log-in>a:hover{
    text-decoration: underline;
}
.form-check>label{
    color: #fff;
}
.form-check>input{
    margin-top: 0%;
    background: black;
    outline: none;
}
.form-check>input::before{
    background-color:rgb(107, 1, 45) ;
}

.form-check>input:hover{
    background-color:rgb(107, 1, 45) ;
}


